/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)

   ** EDITED **
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit; }

input {
  border: none;
  padding: 0; }

* {
  box-sizing: border-box; }

html, body {
  scroll-behavior: smooth;
  background-color: #495d41;
  font-size: 16px;
  color: #fff;
  font-family: 'Nunito', sans-serif; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #BFAB8F;
  z-index: 100;
  box-shadow: 0 2px 6px -2px #000;
  height: 3rem; }
  header:after {
    content: '';
    display: block;
    clear: both; }
  header a {
    height: 100%;
    padding: 1rem 1.5rem;
    display: block;
    transition: background-color 0.35s ease-out;
    position: relative; }
    header a:after {
      content: '';
      display: block;
      width: 0;
      position: absolute;
      left: 0;
      bottom: 0.5rem;
      height: 2px;
      background-color: #fff;
      margin-left: 50%;
      transition: all 0.35s ease-out; }
    header a:hover {
      background-color: rgba(255, 255, 255, 0.25); }
      header a:hover:after {
        margin-left: 1.5rem;
        width: calc(100% - 3rem); }
  header a#logo {
    font-family: 'Parisienne', cursive;
    font-size: 1.35rem;
    padding: 1rem;
    float: left;
    display: block;
    margin-left: 1rem; }
    header a#logo span:last-child {
      vertical-align: -0.1rem;
      font-size: 1.5rem; }
    header a#logo sub {
      font-size: 0.85rem; }
  header #nav-container {
    min-width: 20rem;
    padding-right: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: right; }
    @media screen and (max-width: 1023px) {
      header #nav-container {
        width: 80%; } }
    @media screen and (min-width: 1024px) {
      header #nav-container {
        width: 50%; } }

#hamburger {
  display: none; }

@media screen and (max-width: 639px) {
  a#logo {
    background-color: transparent !important; }
    a#logo:after {
      display: none; }

  #hamburger {
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 10;
    background-image: url(../img/burgertown.png);
    background-size: contain;
    height: 1rem;
    width: 1rem;
    cursor: pointer; }

  #nav-container-outer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/wedding_bands.png) top left #BFAB8F;
    text-align: center; }
    #nav-container-outer #nav-container {
      margin-top: 6rem;
      display: block; }
    #nav-container-outer a {
      display: block;
      height: 3rem;
      margin-top: 1rem;
      background-color: transparent !important; }
    #nav-container-outer.opened {
      display: block; } }
h1, h2, h3 {
  font-weight: normal;
  font-family: 'Parisienne', cursive; }

h1 {
  font-size: 3rem;
  text-shadow: 0 1px 1px #000, 0 1px 4px #fff; }
  h1 .big-ampersand {
    text-shadow: 0 0 3px #000 0 0 6px #fff;
    font-size: 10rem;
    opacity: 0.15;
    height: 1rem;
    line-height: 1rem;
    display: block; }

h2 {
  font-size: 1.5rem; }

#hero {
  background: url("../img/heart.png") top left repeat #777;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative; }
  #hero #blurred-image, #hero #blurred-image-previous {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    filter: blur(16px) grayscale(50%);
    -webkit-filter: blur(16px) grayscale(50%);
    z-index: 2; }
  #hero #featured-image, #hero #featured-image-previous {
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    z-index: 10;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat; }
  #hero #featured-image-previous {
    position: absolute;
    z-index: 12; }
  #hero #blurred-image-previous {
    z-index: 11; }
  #hero #hero-nav {
    position: absolute;
    right: 1rem;
    z-index: 20; }
    #hero #hero-nav li {
      border-radius: 50%;
      height: 0.65rem;
      width: 0.65rem;
      margin: 1rem;
      background: #fff;
      transition: all 0.35s ease-out;
      cursor: pointer;
      opacity: 0.5;
      transition: 0.3s ease-out; }
      #hero #hero-nav li:hover {
        opacity: 1; }
      #hero #hero-nav li.selected {
        opacity: 1; }
  #hero:before {
    display: block;
    position: absolute;
    z-index: 2;
    content: '';
    background: linear-gradient(0.1turn, #000 0%, transparent 100%);
    opacity: 0.5;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0; }

#title-container {
  border-top: 2px solid rgba(255, 255, 255, 0.25);
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  background: url("../img/wedding_bands.png") top left repeat #5d415b;
  text-align: center; }

section {
  max-width: 1024px;
  padding: 1rem;
  margin: 3rem auto; }
  section h2 {
    margin-bottom: 3rem;
    font-size: 3rem; }
    @media screen and (max-width: 639px) {
      section h2 {
        font-size: 2.5rem; } }
  section h3 {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 3rem;
    margin-top: 3rem;
    font-size: 2rem; }
  section p {
    margin: 1rem 0;
    line-height: 1.5em; }

.input-container {
  margin: 0 0 3rem;
  width: 100%;
  /* The switch - the box around the slider */ }
  .input-container label {
    display: inline-block;
    margin-bottom: 0.3rem; }
  .input-container input, .input-container textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 2px; }
    .input-container input[type="radio"], .input-container textarea[type="radio"] {
      width: 1rem;
      display: inline-block;
      margin-left: 1rem; }
      .input-container input[type="radio"] + label, .input-container textarea[type="radio"] + label {
        cursor: pointer;
        font-size: 1.5rem;
        margin-right: 1rem;
        margin-bottom: 0; }
  .input-container textarea {
    height: 4rem;
    font-size: 1rem; }
  .input-container .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    /* The slider */ }
    .input-container .switch input {
      opacity: 0;
      width: 0;
      height: 0; }
    .input-container .switch .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 34px; }
    .input-container .switch .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50%; }
    .input-container .switch .slider:after {
      content: 'No';
      display: inline-block;
      margin-left: 4.5rem;
      line-height: 2rem;
      font-size: 1.5rem; }
    .input-container .switch input:checked + .slider {
      background-color: #009bff; }
      .input-container .switch input:checked + .slider:after {
        content: 'Yes'; }
    .input-container .switch input:focus + .slider {
      box-shadow: 0 0 1px #009bff; }
    .input-container .switch input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px); }

button {
  padding: 1rem 0.5rem;
  color: #fff;
  background: #009bff;
  font-size: 1.5rem;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  min-width: 20rem;
  transition: all 0.35s ease-out;
  box-shadow: 0 0 6px -2px #000;
  margin: 0 auto; }
  button:hover {
    background-color: #00c4ff;
    box-shadow: 0 0 6px 0 #000; }
  button[disabled] {
    background-color: #c0c0c0;
    color: #777;
    cursor: not-allowed; }
    button[disabled]:after {
      content: 'sending...';
      display: inline-block;
      margin-left: 1rem; }

a.link {
  color: #00c4ff;
  cursor: pointer; }
  a.link:hover {
    text-decoration: underline; }

.with-extra-details {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start; }

ul li {
  line-height: 1.5rem; }
  ul li strong {
    display: inline-block;
    margin-right: 0.5rem;
    font-weight: bold; }

#story-container {
  border-top: 2px solid rgba(255, 255, 255, 0.25);
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  background: url("../img/heart.png") top left repeat #433E3F; }
  #story-container ol {
    margin-left: 1rem;
    padding-left: 1.5rem;
    border-left: 3px solid #009bff; }
    #story-container ol li {
      margin-bottom: 4rem;
      position: relative; }
      #story-container ol li:before {
        position: absolute;
        top: 0;
        left: -2.1rem;
        content: '';
        display: block;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: #00c4ff; }
      #story-container ol li h4 {
        font-size: 1.5rem; }
      #story-container ol li p.quote {
        display: inline-block;
        padding: 1rem 4rem 1rem 3rem;
        font-style: italic;
        border-radius: 4px;
        background: rgba(255, 255, 255, 0.15);
        font-size: 1.5rem;
        position: relative; }
        #story-container ol li p.quote:before, #story-container ol li p.quote:after {
          opacity: 0.15;
          font-size: 8rem;
          line-height: 8rem;
          position: absolute;
          top: 0; }
        #story-container ol li p.quote:before {
          left: -1rem;
          content: open-quote; }
        #story-container ol li p.quote:after {
          right: 1.5rem;
          content: close-quote; }
    #story-container ol li#last-event {
      padding: 1.5rem 0; }
      #story-container ol li#last-event:before {
        background-color: transparent;
        border-radius: 0;
        top: auto;
        left: -2.15rem;
        bottom: 0;
        content: '';
        border: solid #009bff;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg); }

#lookup-error, #rsvp-message-error, #rsvp-message-confirm {
  padding: 1rem;
  margin: 1rem 1rem 1.5rem 1rem;
  background: rgba(13, 186, 203, 0.3);
  border-radius: 8px; }
  #lookup-error h2, #rsvp-message-error h2, #rsvp-message-confirm h2 {
    margin-bottom: 1rem; }

#email-input, #address-input, #comments-input {
  max-width: 30rem;
  display: block; }

#details-container {
  border-top: 2px solid rgba(255, 255, 255, 0.25);
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  background: url("../img/cheers.png") top left repeat #5a6872; }
  #details-container li {
    margin-top: 1.5rem; }
    #details-container li #accommodations-container li {
      margin-bottom: 3rem; }
      #details-container li #accommodations-container li > a {
        display: block; }

#registry-container {
  border-top: 2px solid rgba(255, 255, 255, 0.25);
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  background: url("../img/gift.png") top left repeat #36324b; }

#rsvp-container {
  border-top: 2px solid rgba(255, 255, 255, 0.25);
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  background: url("../img/ring.png") top left repeat #5d4a42; }
  #rsvp-container .guest-invite-container {
    display: flex;
    justify-content: space-between; }
    #rsvp-container .guest-invite-container > * {
      margin-left: 1rem; }
      #rsvp-container .guest-invite-container > *:first-child {
        margin-left: 0; }
    #rsvp-container .guest-invite-container .attending-inputs-container {
      margin-top: 0.65rem; }
      #rsvp-container .guest-invite-container .attending-inputs-container span {
        display: inline-block;
        margin-right: 1rem; }
      #rsvp-container .guest-invite-container .attending-inputs-container label {
        font-size: 1.5rem;
        cursor: pointer; }
      #rsvp-container .guest-invite-container .attending-inputs-container input {
        height: 1.5rem;
        width: 1.5rem;
        margin: 0;
        vertical-align: -0.25rem; }

#pics-container {
  border-top: 2px solid rgba(255, 255, 255, 0.25);
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  background: url("../img/gallery.png") top left repeat #2b4c3c; }
  #pics-container #picture-gallery {
    font-size: 0; }
    #pics-container #picture-gallery .picture {
      width: 23%;
      display: inline-block;
      margin: 1%;
      cursor: pointer;
      border-radius: 4px;
      background-color: #fff;
      box-shadow: 0 0 3px 0 #000;
      position: relative;
      top: 0;
      transition: all 0.2s ease-out; }
      #pics-container #picture-gallery .picture:hover {
        top: -4px;
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5); }
      #pics-container #picture-gallery .picture .picture-inner {
        margin: 5%;
        padding-top: 90%;
        width: 90%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center; }
      @media screen and (max-width: 639px) {
        #pics-container #picture-gallery .picture {
          width: 48%; } }

#see-all-pics-message {
  font-size: 1.5rem;
  margin-top: 1.5rem; }

#category-select {
  display: inline-block;
  margin-left: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer; }

@media screen and (min-width: 640px) {
  .inline-desktop {
    display: flex;
    justify-content: space-between; }
    .inline-desktop > * {
      margin-left: 1rem; }
      .inline-desktop > *:first-child {
        margin-left: 0; } }

/*# sourceMappingURL=index.css.map */
