@import "./variables";
@import "./mixins";
@import "./reset";

$errorBG : rgba(13,186,203,0.3);

@mixin section-container() {
  border-top: 2px solid rgba(255,255,255,0.25);
  border-bottom: 2px solid rgba(0,0,0,0.25);
}

@mixin icon-background($color, $icon : 'heart') {
  background: url('../img/#{$icon}.png') top left repeat $color;
}

* {
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
  background-color: $darkGreen;
  font-size: 16px;
  color: $white;
  font-family: 'Nunito', sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $beige;
  z-index: 100;
  box-shadow: 0 2px 6px -2px $black;
  height: 3rem;
  @include clear_fix;

  a {
    height: 100%;
    padding: $spaceNormal $spaceLarge;
    display: block;
    transition: background-color $buttonTransitionTiming ease-out;
    position: relative;

    &:after {
      content: '';
      display: block;
      width: 0;
      position: absolute;
      left: 0;
      bottom: $spaceSmall;
      height: 2px;
      background-color: $white;
      margin-left: 50%;
      transition: all $buttonTransitionTiming ease-out;
    }

    &:hover {
      background-color: rgba(255,255,255,0.25);

      &:after {
        margin-left: $spaceLarge;
        width: calc(100% - 3rem)
      }
    }
  }

  a#logo {
    font-family: 'Parisienne', cursive;
    font-size: 1.35rem;
    padding: $spaceNormal;
    float:left;
    display: block;
    margin-left: $spaceNormal;

    span:last-child {
      vertical-align: -0.1rem;
      font-size: 1.5rem;
    }

    sub {
      font-size: $fontSmall;
    }
  }

  #nav-container {
    @include medium_and_down() {
      width: 80%;
    }
    @include large_and_up() {
      width: 50%;
    }
    min-width: 20rem;
    padding-right: $spaceHuge;

    display: flex;
    align-items: center;
    justify-content: space-between;
    float: right;
  }
}

#hamburger {
  display: none;
}

@include small_and_down() {
  a#logo {
    background-color: transparent !important;
    &:after {
      display: none;
    }
  }
  #hamburger {
    display: block;
    position: fixed;
    top: $spaceNormal;
    right: $spaceNormal;
    z-index: 10;
    background-image:url(../img/burgertown.png);
    background-size: contain;
    height: $spaceNormal;
    width: $spaceNormal;
    cursor: pointer;
  }

  #nav-container-outer {
    display: none;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: url(../img/wedding_bands.png) top left $beige;
    text-align: center;

    #nav-container {
      margin-top: 6rem;
      display: block;
    }

    a {
      display: block;
      height: $spaceHuge;
      margin-top: $spaceNormal;
      background-color: transparent !important;
    }

    &.opened {
      display: block;
    }
  }
}

h1, h2, h3 {
  font-weight: normal;
  font-family: 'Parisienne', cursive;
}

h1 {
  font-size: $fontHuge;
  text-shadow: 0 1px 1px $black, 0 1px 4px $white;
  .big-ampersand {
    text-shadow: 0 0 3px $black 0 0 6px $white;
    font-size: 10rem;
    opacity: 0.15;
    height: 1rem;
    line-height: 1rem;
    display: block;
  }
}

h2 {
  font-size:$fontLarge;
}

#hero {
  @include icon-background($grey5);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow:hidden;
  position: relative;

  #blurred-image, #blurred-image-previous {
    position: absolute;
    @include fill_page();
    top:0;
    left:0;
    background-size:cover;
    background-position: center;
    filter: blur(16px) grayscale(50%);
    -webkit-filter: blur(16px) grayscale(50%);
    z-index:2;
  }

  #featured-image, #featured-image-previous {
    @include fill_page;
    display: block;
    position: relative;
    z-index: 10;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }

  #featured-image-previous {
    position: absolute;
    z-index: 12;
  }

  #blurred-image-previous {
    z-index:11;
  }

  #hero-nav {
    position: absolute;
    right: $spaceNormal;
    z-index: 20;

    li {
      border-radius: 50%;
      height: 0.65rem;
      width: 0.65rem;
      margin: $spaceNormal;
      background: $white;
      transition: all $buttonTransitionTiming ease-out;
      @include hover_opacity();

      &.selected {
        opacity: 1;
      }
    }
  }

  &:before {
    display: block;
    position: absolute;
    z-index:2;
    content: '';
    background: linear-gradient(0.1turn, $black 0%, transparent 100%);
    opacity: 0.5;
    @include fill_page;
    top:0;
    left:0;
  }
}

#title-container {
  @include section-container();
  @include icon-background($pattern2, 'wedding_bands');
  text-align: center;
}

section {
  max-width: $largeScreen;
  padding: $spaceNormal;
  margin: $spaceHuge auto;

  h2 {
    margin-bottom: $spaceHuge;

    font-size: $fontHuge;
    @include small_and_down() {
      font-size: 2.5rem;
    }
  }

  h3 {
    border-top: 1px solid rgba(255,255,255,0.3);
    padding-top: $spaceHuge;
    margin-top: $spaceHuge;
    font-size:2rem;
  }

  p {
    margin: $spaceNormal 0;
    line-height: 1.5em;
  }
}

.input-container {
  margin: 0 0 $spaceHuge;
  width: 100%;
  label {
    display: inline-block;
    margin-bottom: $spaceTiny;
  }

  input, textarea {
    width: 100%;
    padding: $spaceSmall;
    font-size: $fontLarge;
    border-radius: 2px;

    &[type="radio"] {
      width: $fontNormal;
      display: inline-block;
      margin-left: $spaceNormal;

      & + label {
        cursor: pointer;
        font-size: $fontLarge;
        margin-right: $spaceNormal;
        margin-bottom: 0;
      }
    }
  }

  textarea {
    height:4rem;
    font-size: $fontNormal;
  }

  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 34px;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50%;
    }

    .slider:after {
      content: 'No';
      display: inline-block;
      margin-left: 4.5rem;
      line-height: 2rem;
      font-size: $fontLarge;
    }

    input:checked + .slider {
      background-color: $blue;

      &:after {
        content: 'Yes';
      }
    }

    input:focus + .slider {
      box-shadow: 0 0 1px $blue;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
  }
}

button {
  padding: $spaceNormal $spaceSmall;
  color: $white;
  background: $blue;
  font-size: $fontLarge;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  min-width: 20rem;
  transition: all $buttonTransitionTiming ease-out;
  box-shadow: 0 0 6px -2px $black;
  margin: 0 auto;

  &:hover {
    background-color: $lt-blue;
    box-shadow: 0 0 6px 0 $black;
  }

  &[disabled] {
    background-color: $grey3;
    color: $grey5;
    cursor: not-allowed;

    &:after {
      content: 'sending...';
      display: inline-block;
      margin-left: $spaceNormal;
    }
  }
}

a.link {
  color: $lt-blue;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.with-extra-details {
  display:flex;
  align-items: flex-start;
  justify-content: flex-start;
}

ul {
  li {
    line-height: 1.5rem;
    strong {
      display: inline-block;
      margin-right: $spaceSmall;
      font-weight: bold;
    }
  }
}

#story-container {
  @include section-container();
  @include icon-background($pattern3, 'heart');

  ol {
    margin-left: $spaceNormal;
    padding-left: $spaceLarge;
    border-left: 3px solid $blue;

    li {
      margin-bottom: 4rem;
      position: relative;

      &:before {
        position: absolute;
        top: 0;
        left: -2.1rem;
        content: '';
        display: block;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: $lt-blue;
      }

      h4 {
        font-size: $fontLarge;
      }

      p.quote {
        display: inline-block;
        padding: $spaceNormal 4rem $spaceNormal 3rem;
        font-style:italic;
        border-radius: 4px;
        background: rgba(255,255,255,0.15);
        font-size: $fontLarge;
        position: relative;

        &:before, &:after {
          opacity: 0.15;
          font-size: 8rem;
          line-height: 8rem;
          position: absolute;
          top: 0;
        }

        &:before {
          left: -1rem;
          content: open-quote;
        }
        &:after {
          right: $spaceLarge;
          content: close-quote;
        }

      }
    }

    li#last-event {
      padding: $spaceLarge 0;
      &:before {
        background-color: transparent;
        border-radius: 0;
        top: auto;
        left: -2.15rem;
        bottom: 0;
        content: '';
        border: solid $blue;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
      }
    }
  }
}

#lookup-error, #rsvp-message-error, #rsvp-message-confirm {
  padding: $spaceNormal;
  margin:$spaceNormal $spaceNormal $spaceLarge $spaceNormal;
  background: $errorBG;
  border-radius: 8px;

  h2 {
    margin-bottom: $spaceNormal;
  }
}

#email-input, #address-input, #comments-input {
  max-width: 30rem;
  display: block;

}

#details-container {
  @include section-container();
  @include icon-background($pattern5, 'cheers');

  li {
    margin-top: $spaceLarge;

    #accommodations-container {
      li {
        margin-bottom: $spaceHuge;
        & > a {
          display: block;
        }
      }
    }
  }
}

#registry-container {
  @include section-container();
  @include icon-background($pattern4, 'gift');
}

#rsvp-container {
  @include section-container();
  @include icon-background($pattern1, 'ring');

  .guest-invite-container {
    display: flex;
    justify-content: space-between;

    & > * {
      margin-left: $spaceNormal;

      &:first-child {
        margin-left: 0;
      }
    }

    .attending-inputs-container {
      margin-top: 0.65rem;

      span {
        display: inline-block;
        margin-right: 1rem;
      }

      label {
        font-size: $fontLarge;
        cursor: pointer;
      }

      input {
        height: 1.5rem;
        width: 1.5rem;
        margin:0;
        vertical-align: -0.25rem;
      }
    }
  }
}

#pics-container {
  @include section-container();
  @include icon-background($pattern7, 'gallery');

  #picture-gallery, #video-gallery {
    font-size: 0;

    .picture {
      width: 23%;
      display: inline-block;
      margin: 1%;
      cursor: pointer;
      border-radius: 4px;
      background-color: $white;
      box-shadow: 0 0 3px 0 $black;
      position: relative;
      top: 0;
      transition: all 0.2s ease-out;

      &:hover {
        top: -4px;
        box-shadow: 0 8px 8px  rgba(0,0,0,0.5);
      }

      .picture-inner {
        margin: 5%;
        padding-top: 90%;
        width: 90%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }

      h5 {
        text-align: center;
        font-size: $fontNormal;
        color: $black;
        margin: $spaceSmall auto;
      }

      @include small_and_down() {
        width: 48%;
      }
    }
  }
}

#see-all-pics-message {
  font-size: $fontLarge;
  margin-top: $spaceLarge;
}

#category-select {
  display: inline-block;
  margin-left: $spaceNormal;
  padding: $spaceSmall;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

@include medium_and_up() {
  .inline-desktop {
    display: flex;
    justify-content: space-between;

    & > * {
      margin-left: $spaceNormal;

      &:first-child {
        margin-left: 0;
      }
    }
  }

}
