$white : #fff;
$grey1 : #efefef;
$grey2 : #DFDFDF;
$grey3 : #c0c0c0;
$grey4 : #aaa;
$grey5 : #777;
$grey6 : #555;
$grey7 : #404040;
$grey8 : #272727;
$grey9 : #101010;
$black : #000;

$beige : #BFAB8F;
$darkGreen: #495d41;

$red : #cba60d;
$blue : #009bff;
$lt-blue : #00c4ff;

$pattern1: #5d4a42;
$pattern2:  $darkGreen;
$pattern3:  #433E3F;
$pattern4: #36324b;
$pattern5: #5a6872;
$pattern6: #5d415b;

$textColor : $grey8;

$buttonTransitionTiming : 0.35s;

$fontTiny : 0.675rem;
$fontSmall : 0.85rem;
$fontNormal : 1rem;
$fontLarge : 1.5rem;
$fontHuge : 3rem;

$spaceTiny : 0.3rem;
$spaceSmall : 0.5rem;
$spaceNormal : 1rem;
$spaceLarge : 1.5rem;
$spaceHuge : 3rem;


$extraLargeScreen : 1200px;
$largeScreenLimit : 1199px;
$largeScreen : 1024px;
$mediumScreenLimit : 1023px;
$mediumScreen : 640px;
$smallScreenLimit : 639px;
$smallScreen : 384px;
$extraSmallScreenLimit : 383px;
